@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Thriving Mill Township, Thriving Grant County<br />
    Gas City, IN 46933<br />
    <abbr title="Phone">P:</abbr>
    765-662-0065
</address>

<address>
    <strong>Ashley Shirley, Resource Navigator:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>